<h1>About Us...</h1>
My name is Joe Preziuso and this is my first Rails web application.
</br></br>
The purpose of this app is to allow users to create and manage a list of their friends. Each user
that signs up will have a unique friends list that is tied to their account only.
</br></br>
Feel free to look around and have fun!